## Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

## Visual Studio / VS Code
.vs/
.vscode/
*.suo
*.user
*.userosscache
*.sln.docstates
launchSettings.json

## NuGet
**/[Pp]ackages/*
!**/[Pp]ackages/build/
*.nupkg
**/packages/repositories.config
project.lock.json
project.fragment.lock.json
artifacts/

## Build artifacts
*.dll
*.exe
*.pdb
*.cache
*.ilk
*.meta
*.obj
*.iobj
*.pch
*.ipdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*_wpftmp.csproj
*.vspscc
*.vssscc

## .NET
*.dotCover
*.ncrunch*
_NCrunch_*
.*crunch*.local.xml
nCrunchTemp_*
BenchmarkDotNet.Artifacts/
project.assets.json
*.nuget.dgspec.json
*.nuget.g.props
*.nuget.g.targets

## User-specific files
*.rsuser
*.sln.docstates

## OS files
.DS_Store
Thumbs.db
